<!DOCTYPE html>

<html>
  <head>
    <title>{{name}}</title>

    <style type="text/css">
      body {
        font-family: "Segoe UI", "Arial";
      }
    </style>
  </head>

  <body>
    <h1>{{artist}} - {{name}}</h1>
    <p>
      <strong>Key:</strong> {{key}}
    </p>
    {{{html}}}
  </body>
</html>
