<!DOCTYPE html>

<html lang="en">
<head>
  <title>{{title}}</title>

  <script type="text/javascript" src="js/vendor/anchor.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.js"></script>
  <script type="text/javascript" src="js/vendor/d3.js"></script>
  <script type="text/javascript" src="js/vendor/trianglify.js"></script>

  <script type="text/javascript" src="coffee/index.js"></script>

  <link rel="stylesheet" type="text/css" href="css/styles.css">

</head>

<body class="index-bg">

  <!-- A nice pretty header thing. -->
  <div class="center-text" id="index-header">
    <hr class="small thick" />
    <h1 class="center-text">~ {{title}} ~</h1>
    <hr class="small thick" />
  </div>

  <!-- The rest of the page belongs here. -->
  <div class="box">
  {{#each songs}}
  <h2 class="center-text">~ {{@key}} ~</h2>
  <ul class="songs">
  {{#each this}}
    <li class="song-link">
    <a class="song-link" href="/song/{{fname}}" target="_blank">
      <span class="song-link-name">{{track}}</span>
      <span class="song-link-button blue-button">Go</span>
    </a>
    </li>
  {{/each}}
  </ul>
  <br /><hr /><br />
  {{/each}}
  </div>

  <img id="refresh-button" src="assets/refresh.png" title="Refresh the songs from Github" />
</body>
</html>
